.navlink{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
    font-weight: 600;
   color: grey;


}
.navlink li{
    padding: 15px;

}