.navlink{
    display: flex;
    list-style: none;
    padding: 5px;
    color: black;
    justify-content: center;
    width: 73.8em;
    font-size: larger;
    font-weight: 600;


}
.navlink li{
    padding: 25px;

}