.navbar{
    display: flex;
    justify-content: space-around;
    background-color: #FFD600;
    padding: 10px;
    font-size: x-large;
    font-weight: 700;
}
.navinput input{
    background-color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
.navinput span{
    margin-right: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.navicons{
    list-style: none;
    display: flex;
    width: 5em;
    padding: 5px;
    justify-content: space-around;
    color: white;
}