@media screen and (min-width: 1200px) {
    .landingpage{
        display: flex; 
        margin: 3% 5%;
        justify-content: space-around;
    
    }
    .photodiv{
        color: black;
        padding: 3px;
        font-weight: 600;
        justify-content: space-around;  
        overflow-x: scroll;
    }
    .photodiv::-webkit-scrollbar{
        width: 0;
        
    }
  }
  @media screen and (max-width: 480px) {
    .navlink{
        justify-content: space-around;
        font-size: large;
        font-weight: bolder;
    }
    .landingpage{
        display:grid;
    }
  }
